<body>


    <div class="container mt-10">

        <!-- <div class="container">
        <form class="d-flex" #f="ngForm" role="search" (ngSubmit)="searchProd()">

            <input class="form-control" name="search" type="search" placeholder="Search"
                [(ngModel)]="datasearch.keyword">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
     </div> -->



            <form [formGroup]="searchForm" class="d-flex" (ngSubmit)="searchprod()" >
                <input class="form-control" name="keyword" placeholder="Search" formControlName="keyword">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
       
        <div class="card">
            <div class="card-header" style="text-align: center;"><strong>Products Lists Table<i
                        class="bi bi-archive"></i></strong></div>
            <div class="card-body ">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>Prix</th>
                            <th>Reference</th>
                            <th>Promotion</th>
                            <th>Select Promotion</th>
                            <th>Delete</th>
                            <th>Uptade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of AllProducts">
                            <td>{{product.id}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.prix}}</td>
                            <td>{{product.reference}}</td>
                            <td><i *ngIf="product.promotion===true" class="bi bi-gift"></i></td>
                            <td><button type="button" (click)="SetPromotion(product)">
                                    <span *ngIf="product.promotion===false" class="btn btn-danger">Promotion
                                        Off</span>
                                    <span *ngIf="product.promotion===true" class="btn btn-success">Promotion
                                        On</span>
                                </button>
                            </td>
                            <td><button class="btn btn-danger" type="button" (click)="Delete(product)"><i
                                        class="bi bi-trash-fill">Delete</i></button></td><br>
                            <td><button class="btn btn-info" type="button"><i
                                        class="bi bi-arrow-counterclockwise">Update</i></button></td>
                        </tr>
                    </tbody>
                </table>
                <!-- <button class="btn btn-primary" type="button">New Product</button> -->
            </div> <button class="btn btn-primary" type="button" (click)="backHome()">Back Home</button>
            <!-- <button class="btn btn-primary" type="button" routerLink="/home">Back Home</button> -->
        </div>
    </div>


</body>
