@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

.login-container {
  width: 400px;
  height: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.containerbg{
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  background-image: url("https://img.reintech.io/variants/ocw8s4nm4ymatbm2gjdys2pni1h5/e7b4ce09c703210ab8f75b017c7eaf0951c5a95b737ee8120602845c1c1d944b");

}

.form-group {
  margin-bottom: 15px;
  
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonLo {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 40%;
}
.buttonR
{
  background-color: #30b7e8;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 40%;
}
header {
	background: url('https://images.yourstory.com/cs/1/6c0e8ed06e3b11e9aa8461568b4ab999/Untitleddesign40-1595941377684.png?w=1152&fm=auto&ar=2:1&mode=crop&crop=faces');
	text-align: center;
	width: 100%;
	height: 100%;
	background-size: cover;
	/* background-attachment: fixed; */
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 10%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 20px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
	
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}
.buttonSS
{
  background-color: #30b7e8;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 60%;

  margin:20px 20px 20px 70px ;
}